#root {
  --mutedRed-color: #CB4C4E;
  --mutedWhite-color: #F0F0F0;
  height: 100vh;
  width: 100vw;
}

.projectRoot {
  height: 100%;
}

.displaySwitch {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 30px;
}

.websiteHeader {
  text-align: center;
  width: 100%;
}


.inlineBlock {
  display: inline-block;
}
