.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbarTitle {
  color: var(--mutedWhite-color);
  margin-left: 1em;
}

.navbarList {
  list-style: none;
}

.navbarList li {
  display: inline-block;
  margin: 0 0.75em 0 0.75em;
  font-weight: bold;
  font-size: 0.9em;
}

.navbarList li:hover {
  cursor: pointer;
  color: var(--mutedRed-color);
}